/* Coolors Exported Palette - https://coolors.co/034c8c-056cf2-0583f2-d9961a-d9a714-ececec */

/* CSS HEX */
// --yale-blue: #034c8cff;
// --bluetiful: #056cf2ff;
// --azure: #0583f2ff;
// --harvest-gold: #d9961aff;
// --goldenrod: #d9a714ff;
// --cultured: #ecececff;

/* CSS HSL */
// --yale-blue: hsla(208, 96%, 28%, 1);
// --bluetiful: hsla(214, 96%, 48%, 1);
// --azure: hsla(208, 96%, 48%, 1);
// --harvest-gold: hsla(39, 79%, 48%, 1);
// --goldenrod: hsla(45, 83%, 46%, 1);
// --cultured: hsla(0, 0%, 93%, 1);

/* SCSS HEX */
$yale-blue: #034c8cff;
$bluetiful: #056cf2ff;
$azure: #0583f2ff;
$harvest-gold: #d9961aff;
$goldenrod: #d9a714ff;
$cultured: #ecececff;

/* SCSS HSL */
$yale-blue: hsla(208, 96%, 28%, 1);
$bluetiful: hsla(214, 96%, 48%, 1);
$azure: hsla(208, 96%, 48%, 1);
$harvest-gold: hsla(39, 79%, 48%, 1);
$goldenrod: hsla(45, 83%, 46%, 1);
$cultured: hsla(0, 0%, 93%, 1);

/* SCSS RGB */
$yale-blue: rgba(3, 76, 140, 1);
$bluetiful: rgba(5, 108, 242, 1);
$azure: rgba(5, 131, 242, 1);
$harvest-gold: rgba(217, 150, 26, 1);
$goldenrod: rgba(217, 167, 20, 1);
$cultured: rgba(236, 236, 236, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-right: linear-gradient(90deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-bottom: linear-gradient(180deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-left: linear-gradient(270deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-top-right: linear-gradient(45deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-bottom-right: linear-gradient(135deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-top-left: linear-gradient(225deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-bottom-left: linear-gradient(315deg, #034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);
$gradient-radial: radial-gradient(#034c8cff, #056cf2ff, #0583f2ff, #d9961aff, #d9a714ff, #ecececff);