<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../source/css/styles-home.css"> -->
    <link rel="stylesheet" href="../css/styles-home.css">
    <title>Inicio</title>
</head>
<body>
    <div class="m-var header"></div>

    <div class="full-container">
        <div class="title-cont">
            <h1 class="title">SIRECOM</h1>
        </div>

        <div class="container">
            <a href="discentes" class="linker" id="linker-discentes">
                <div class="box-ref" id="ref-discentes">
                    Discentes
                </div>
            </a>

            <a href="pc" class="linker" id="linker-pc">
                <div class="box-ref" id="ref-pc">
                    Computadoras
                </div>
            </a>

            <a href="apoyos" class="linker" id="linker-apoyos">
                <div class="box-ref" id="ref-apoyos">
                    Personal de Apoyos Didácticos
                </div>
            </a>
        </div>
    </div>

    <div class="m-var footer"></div>
</body>
</html>