@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

:root {
    --good-green: #009879;
    --good-dark: #343a40;
    --cultured: #ecececff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: var(--cultured);
}

li, a.nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--cultured);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--good-dark);
}

.logo {
    color: var(--cultured);
    cursor: pointer;
    margin-right: auto;
}

.logo:hover {
    color: var(--good-green);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--good-green);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 45px 623px 45px;
    grid-template-areas: 
        "header header header header"
        "title main main main"
        "footer footer footer footer";
}

.mid-container:nth-child(1) {
    grid-area: header;
}

.mid-container:nth-child(2) {
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.mid-container:nth-child(3) {
    grid-area: main;
    align-self: center;
    justify-self: center;
}

.mid-container:nth-child(4) {
    grid-area: footer;
}

div.sub-header h1 {
    font-size: 4.35rem;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.title-container {
    display: flex;
    justify-content: center;
}

#title > h1 {
    color: var(--good-green);
    font-weight: 900;
}

.full-container {
    height: 100%;
}

.ref-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 30px 0;
}

div.sub-ref {
    display: flex;
    height: 20%;
    width: 100%;
    border-style: solid;
    border-color: var(--good-dark);
    border-radius: 12px;
    text-align: center;
}

.linker {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    text-decoration: none;
    color: var(--good-dark);
}

.linker > p {
    font-size: 1.2em;
    font-weight: bold;
}

.linker > i {
    font-size: 5em;
}

.linker:hover {
    color: var(--good-green);
}

div.sub-ref:hover {
    border-color: var(--good-green);
    background-color: var(--cultured);
}