@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

:root {
    --good-green: #009879;
    --good-dark: #343a40;
    --cultured: #ecececff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a.nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--cultured);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7%;
    height: auto;
    border-radius: 0 0 16px 16px;
    background-color: var(--good-dark);
}

header:hover {
    box-shadow: 0px 10px 28px 6px rgba(0,0,0,0.71);
}

.logo {
    color: var(--cultured);
    cursor: pointer;
    margin-right: auto;
}

.logo:hover {
    color: var(--good-green);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--good-green);
}

.nav__links .profile {
    color: var(--good-green);
}