* {
    font-family: sans-serif;
}

body {
    --cultured: #ecececff;
    background-color: var(--cultured);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr td a.trash {
    color: #000;
}

.content-table tbody tr td a.trash:hover {
    color: #e30032;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table tbody tr:hover{
    /* font-weight: bold; */
    color: #009879;
    /* color: #fff; */
    /* background-color: #009879; */
}

.url-register {
    --color: #009879;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.url-register::before, .url-register::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.url-register::before {
    top: -1em;
    left: -1em;
}

.url-register::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.url-register:hover::before, .url-register:hover::after {
    height: 410px;
    width: 410px;
}

.url-register:hover {
    /* color: rgb(10, 25, 30); */
    color: #fff;
}

.url-register:active {
    filter: brightness(.8);
}